<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstarter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".querys.QueryPreventivaActivity"></activity>
        <activity
            android:name=".preventiva.PreventivaActivity"
            android:label="@string/preventiva"></activity>
        <activity
            android:name=".preventiva.ListaPreventivasActivity"
            android:label="@string/preventiva" />
        <activity
            android:name=".usuario.UsuarioActivity"
            android:label="@string/usuario" />
        <activity
            android:name=".usuario.ListaUsuarioActivity"
            android:label="@string/usuario" />
        <activity
            android:name=".ss.SsDetailsActivity"
            android:label="@string/sscompleta" />
        <activity
            android:name=".ss.SsActivity"
            android:label="@string/sscompleta" />
        <activity
            android:name=".ss.ListaSssActivity"
            android:label="@string/sscompleta" />
        <activity
            android:name=".os.OsDetailsActivity"
            android:label="@string/oscompleta" />
        <activity
            android:name=".querys.QueryTipoOsActivity"
            android:label="@string/tipoos" />
        <activity android:name=".querys.QueryFuncionarioActivity" />
        <activity
            android:name=".querys.QueryAtivoActivity"
            android:label="@string/ativos" />
        <activity
            android:name=".querys.QuerySolicitanteActivity"
            android:label="@string/solicitante" />
        <activity
            android:name=".os.OsActivity"
            android:label="@string/oscompleta" />
        <activity
            android:name=".os.ListaOssActivity"
            android:label="@string/oscompleta" />
        <activity
            android:name=".maodeobra.MaodeobraActivity"
            android:label="@string/maodeobra" />
        <activity
            android:name=".ativo.AtivoActivity"
            android:label="@string/ativos" />
        <activity
            android:name=".maodeobra.ListaMaodeobraActivity"
            android:label="@string/maodeobra" />
        <activity
            android:name=".ativo.ListaAtivosActivity"
            android:label="@string/ativos" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>